# Interactive Graphs

In [141]:
import pandas as pd
from datetime import datetime

In [303]:
#df=pd.read_csv('Capstone_Data.csv',parse_dates=[5])
df=pd.read_csv('Capstone_Data.csv')

### here colum Date is in Object

In [304]:
df.dtypes

User_ID                     int64
Cardholder_Name            object
Description                object
Amount                    float64
Vendor                     object
Date                       object
Merchant_Category_Code     object
Month                      object
dtype: object

In [305]:
df.head()

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month
0,1024,AARON,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,21/1/2014,"BOOKS, PERIODICALS AND NEWSPAPERS",Jan
1,1024,AARON,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2/4/2014,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,Apr
2,1024,AARON,GENERAL PURCHASE,265.0,PBD IIA INTRNLAUDITORS,19/5/2014,"BOOKS, PERIODICALS AND NEWSPAPERS",May
3,85424,Abbott,GENERAL PURCHASE,390.0,COLLEGEBOARD PRODUCTS,29/7/2013,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...,Jul
4,85424,Abbott,AIR TRAVEL,297.6,DELTA AIR 0062335020780,7/5/2013,DELTA,May

### Converting and cleaning Date column

In [306]:
#df['Dateq']=pd.to_datetime(df['Date'])

In [307]:
#ww=datetime.strptime('21/1/2014','%d/%m/%Y')
##datetime.strptime(df['Date'],'%d/%m/%Y')

In [277]:
#pd.to_datetime(ww)

In [310]:
cleaned_date=[]
for i in df['Date']:
    cleaned=datetime.strptime(i,'%d/%m/%Y').date()
    cleaned=cleaned.strftime("%d-%m-%Y")
    cleaned_date.append(cleaned)

In [311]:
df['Date']=(cleaned_date)
df['Date']=pd.to_datetime(df['Date'], format='%d-%m-%Y')
#df['Month']=pd.to_datetime(df['Month'], format='%b')

In [318]:
#df['Month']=df['Month'].apply(lambda x: x.strftime('%B'))   
df['Year_month']=df['Date'].apply(lambda x: x.strftime('%b-%y'))   
df['Month']=df['Date'].apply(lambda x: x.strftime('%B'))

In [319]:
df.dtypes

User_ID                            int64
Cardholder_Name                   object
Description                       object
Amount                           float64
Vendor                            object
Date                      datetime64[ns]
Merchant_Category_Code            object
Month                             object
dtype: object

In [320]:
df.head()

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month
0,1024,AARON,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,2014-01-21,"BOOKS, PERIODICALS AND NEWSPAPERS",January
1,1024,AARON,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2014-04-02,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,April
2,1024,AARON,GENERAL PURCHASE,265.0,PBD IIA INTRNLAUDITORS,2014-05-19,"BOOKS, PERIODICALS AND NEWSPAPERS",May
3,85424,Abbott,GENERAL PURCHASE,390.0,COLLEGEBOARD PRODUCTS,2013-07-29,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...,July
4,85424,Abbott,AIR TRAVEL,297.6,DELTA AIR 0062335020780,2013-05-07,DELTA,May

In [22]:
#pd.DatetimeIndex(df['Date']).month
#df['month'] = df['Date'].dt.month
#i was getting only numbers

In [283]:
df[:2]

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month,Year_month
0,1024,AARON,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,2014-01-21,"BOOKS, PERIODICALS AND NEWSPAPERS",January,Jan-14
1,1024,AARON,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2014-04-02,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,April,Apr-14

### ADKINS is not equal to Adkin, that why i converted column 1 to lower case

In [284]:
#This is the problem
df[df.Cardholder_Name=='ADKINS']

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month,Year_month
1483,85928,ADKINS,SHARPWRITER MECH PEN DZ,11.86,OFFICEMAX CT IN#357326,2014-06-13,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES",June,Jun-14

In [285]:
df['Cardholder_Name']=df['Cardholder_Name'].str.lower()

In [286]:
df[df.Cardholder_Name=='adkins'].sum()

User_ID    4554184.00
Amount       23604.53
dtype: float64

In [287]:
cardholder=df.groupby('Cardholder_Name').sum()

In [288]:
cardholder=cardholder.reset_index()

In [289]:
cardholder=cardholder.drop('User_ID',axis=1)

In [290]:
cardholder.head()

  Cardholder_Name    Amount
0           aaron   1390.00
1          abbott  47931.25
2       abdolvand   7462.99
3       abernathy  31778.72
4            abid     57.45

In [291]:
%matplotlib inline

In [131]:
#cardholder.boxplot(column='Amount', by = 'Cardholder_Name')

In [55]:
#cardholder.plot(kind='bar')

In [56]:
import plotly.plotly as py
import plotly.graph_objs as go
#Setting plotly credentials
py.sign_in('mantejsingh','hQnYIqbxnsuRvQxkVFVW')

In [123]:
data = [go.Scatter(x=cardholder['Cardholder_Name'],y=cardholder['Amount'])]

In [126]:
layout = go.Layout(
title='CardHolders Amount',
xaxis=dict(title='Amount_Frequency'),
yaxis=dict(title='Count')
)

In [127]:
fig = go.Figure(data=data, layout=layout)
py.iplot(fig,filename='InteractiveGraph_1')

In [292]:
df.head()

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month,Year_month
0,1024,aaron,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,2014-01-21,"BOOKS, PERIODICALS AND NEWSPAPERS",January,Jan-14
1,1024,aaron,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2014-04-02,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,April,Apr-14
2,1024,aaron,GENERAL PURCHASE,265.0,PBD IIA INTRNLAUDITORS,2014-05-19,"BOOKS, PERIODICALS AND NEWSPAPERS",May,May-14
3,85424,abbott,GENERAL PURCHASE,390.0,COLLEGEBOARD PRODUCTS,2013-07-29,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...,July,Jul-13
4,85424,abbott,AIR TRAVEL,297.6,DELTA AIR 0062335020780,2013-05-07,DELTA,May,May-13

## Monthly Transactions

In [330]:
mnttrans=df.groupby('Month').sum()

In [334]:
mnttrans[:2]

    Month      Amount
0   April  4269221.76
1  August  4077548.11

In [332]:
mnttrans=mnttrans.reset_index()

mnttrans=mnttrans.drop('User_ID',axis=1)

In [347]:
mnttrans.dtypes

Month      object
Amount    float64
dtype: object

In [348]:
#convert Month to datytype format
mnttrans['Month']=pd.to_datetime(mnttrans['Month'], format='%B')

In [349]:
mnttrans[:]

        Month      Amount
0  1900-04-01  4269221.76
1  1900-08-01  4077548.11
2  1900-12-01  3164084.60
3  1900-02-01  4151240.48
4  1900-01-01  4086562.95
5  1900-07-01  3345432.68
6  1900-06-01  3721530.33
7  1900-03-01  5068879.20
8  1900-05-01  3135951.55
9  1900-11-01  3376869.48
10 1900-10-01  5332229.64
11 1900-09-01  3884649.06

In [350]:
#Jan to Decemnber Accending
mnttrans=mnttrans.sort_values(by='Month',ascending=True)

In [351]:
#Converting back to whole month
mnttrans['Month']=mnttrans['Month'].apply(lambda x: x.strftime('%B'))

In [352]:
mnttrans

        Month      Amount
4     January  4086562.95
3    February  4151240.48
7       March  5068879.20
0       April  4269221.76
8         May  3135951.55
6        June  3721530.33
5        July  3345432.68
1      August  4077548.11
11  September  3884649.06
10    October  5332229.64
9    November  3376869.48
2    December  3164084.60

In [355]:
data = [go.Scatter(x=mnttrans['Month'],y=mnttrans['Amount'])]
layout = go.Layout(
title='Monthly Transactions',
xaxis=dict(title='Months'),
yaxis=dict(title='Amounts')
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig,filename='InteractiveGraph_2')

In [361]:
Line_graph = go.Scatter(
    x=mnttrans['Month'],
    y=mnttrans['Amount'],
    name='Line Graph'
)
Bar_plot = go.Bar(
    x=mnttrans['Month'],
    y=mnttrans['Amount'],
    name='Bar Graph'
)

layout = go.Layout(
title='Multi Axis Graph',
xaxis=dict(title='Months'),
yaxis=dict(title='Amounts')
)

data = [Line_graph, Bar_plot]
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='bar-line Multi_axis Graph')