# Interactive Graphs

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Capstone_Data.csv')

In [5]:
df.dtypes

User_ID                     int64
Cardholder_Name            object
Description                object
Amount                    float64
Vendor                     object
Date                       object
Merchant_Category_Code     object
Month                      object
dtype: object

In [12]:
df.head()

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month
0,1024,AARON,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,2014-01-21,"BOOKS, PERIODICALS AND NEWSPAPERS",Jan
1,1024,AARON,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2014-02-04,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,Apr
2,1024,AARON,GENERAL PURCHASE,265.0,PBD IIA INTRNLAUDITORS,2014-05-19,"BOOKS, PERIODICALS AND NEWSPAPERS",May
3,85424,Abbott,GENERAL PURCHASE,390.0,COLLEGEBOARD PRODUCTS,2013-07-29,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...,Jul
4,85424,Abbott,AIR TRAVEL,297.6,DELTA AIR 0062335020780,2013-07-05,DELTA,May

In [11]:
df['Date']=pd.to_datetime(df['Date'])

In [14]:
df.dtypes

User_ID                            int64
Cardholder_Name                   object
Description                       object
Amount                           float64
Vendor                            object
Date                      datetime64[ns]
Merchant_Category_Code            object
Month                             object
dtype: object

In [22]:
#pd.DatetimeIndex(df['Date']).month
#df['month'] = df['Date'].dt.month
#i was getting only numbers

In [37]:
df['Year_month']=df['Date'].apply(lambda x: x.strftime('%b-%y'))

In [111]:
df[:2]

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month,Year_month
0,1024,AARON,GENERAL PURCHASE,235.0,PBD IIA INTRNLAUDITORS,2014-01-21,"BOOKS, PERIODICALS AND NEWSPAPERS",Jan,Jan-14
1,1024,AARON,GENERAL PURCHASE,890.0,FINANCIAL ACCOUNTING F,2014-02-04,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS,Apr,Feb-14

### ADKINS is not equal to Adkin, that why i converted column 1 to lower case

In [110]:
#This is the problem
df[df.Cardholder_Name=='ADKINS']

,User_ID,Cardholder_Name,Description,Amount,Vendor,Date,Merchant_Category_Code,Month,Year_month
1483,85928,ADKINS,SHARPWRITER MECH PEN DZ,11.86,OFFICEMAX CT IN#357326,2014-06-13,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES",Jun,Jun-14

In [114]:
df['Cardholder_Name']=df['Cardholder_Name'].str.lower()

In [118]:
df[df.Cardholder_Name=='adkins'].sum()

User_ID    4554184.00
Amount       23604.53
dtype: float64

In [119]:
cardholder=df.groupby('Cardholder_Name').sum()

In [120]:
cardholder=cardholder.reset_index()

In [121]:
cardholder=cardholder.drop('User_ID',axis=1)

In [122]:
cardholder.head()

  Cardholder_Name    Amount
0           aaron   1390.00
1          abbott  47931.25
2       abdolvand   7462.99
3       abernathy  31778.72
4            abid     57.45

In [52]:
%matplotlib inline

In [131]:
#cardholder.boxplot(column='Amount', by = 'Cardholder_Name')

In [55]:
#cardholder.plot(kind='bar')

In [56]:
import plotly.plotly as py
import plotly.graph_objs as go
#Setting plotly credentials
py.sign_in('mantejsingh','hQnYIqbxnsuRvQxkVFVW')

In [123]:
data = [go.Scatter(x=cardholder['Cardholder_Name'],y=cardholder['Amount'])]

In [126]:
layout = go.Layout(
title='CardHolders Amount',
xaxis=dict(title='Amount_Frequency'),
yaxis=dict(title='Count')
)

In [127]:
fig = go.Figure(data=data, layout=layout)
py.iplot(fig,filename='InteractiveGraph_1')