# Tidy Data in Python

In [1]:
import pandas as pd
import datetime
import re

In [2]:
%load_ext watermark

In [3]:
#%watermark

In [4]:
%watermark -w -v -u -n -t -z -m -p pandas,datetime,re --iso8601 -a "Mantej Singh"

Mantej Singh
last updated: Sat Apr 08 2017 13:25:11 Eastern Daylight Time2017-04-08T13:25:11-04:00

CPython 3.5.2
IPython 5.1.0

pandas 0.19.0
datetime n
re 2.2.1

compiler   : MSC v.1900 32 bit (Intel)
system     : Windows
release    : 7
machine    : AMD64
processor  : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
CPU cores  : 4
interpreter: 32bit
watermark 1.3.4

In [5]:
df=pd.read_csv('data\pew-raw.csv')

In [6]:
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [35]:
new_df=pd.melt(df,["religion"],var_name="income_range",value_name="freq")

In [36]:
new_df=new_df.sort_values(["religion"])

In [37]:
new_df[:3]

    religion income_range  freq
0   Agnostic        <$10k    27
30  Agnostic      $30-40k    81
40  Agnostic      $40-50k    76

### Sorting the index

In [40]:
new_df=new_df.reset_index(drop='True')

In [42]:
#new_df=new_df.drop('index', axis=1).reset_index(drop='True')

In [44]:
new_df.head()

   religion income_range  freq
0  Agnostic        <$10k    27
1  Agnostic      $30-40k    81
2  Agnostic      $40-50k    76
3  Agnostic      $50-75k   137
4  Agnostic      $10-20k    34

In [99]:
df = pd.read_csv("data/billboard.csv", encoding="mac_latin2")
df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# Melting
id_vars = ["year",
           "artist.inverted",
           "track",
           "time",
           "genre",
           "date.entered",
           "date.peaked"]

In [101]:
df = pd.melt(frame=df,id_vars=id_vars, var_name="week", value_name="rank")
df[-5:]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [102]:
df.dtypes

year                 int64
artist.inverted     object
track               object
time                object
genre               object
date.entered        object
date.peaked         object
week                object
rank               float64
dtype: object

In [103]:
# Formatting 
df.fillna(0, inplace=True)

In [104]:
df[:3]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0

In [105]:
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
df["rank"] = df["rank"].astype(int)

In [106]:
df[:3]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71

In [107]:
# Cleaning out unnecessary rows
df = df.dropna()
df[:3]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71

In [108]:
# Create "date" columns
#df['date'] = pd.to_datetime(df['date.entered']) 
df['date'] = pd.to_datetime(df['date.entered']) + pd.to_timedelta(df['week'], unit='w') - pd.DateOffset(weeks=1)

df[:3]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,date
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78,2000-09-23
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15,2000-02-12
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71,1999-10-23

In [109]:
df.dtypes

year                        int64
artist.inverted            object
track                      object
time                       object
genre                      object
date.entered               object
date.peaked                object
week                        int32
rank                        int32
date               datetime64[ns]
dtype: object

### Selecting only imp columns

### One way to select columns

In [110]:
df = df[["year", 
         "artist.inverted",
         "track",
         "time",
         "genre",
         "week",
         "rank",
         "date"]]
df[:3]

,year,artist.inverted,track,time,genre,week,rank,date
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,1,78,2000-09-23
1,2000,Santana,"Maria, Maria",4:18,Rock,1,15,2000-02-12
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1,71,1999-10-23

## SORTING + RESETTING THE INDEX

In [111]:
df = df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"]).reset_index(drop='True')
df[:3]

,year,artist.inverted,track,time,genre,week,rank,date
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
1,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
2,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11

## New in the next steps we will convert/Normalize this table into 2NF

### i.e seperate week data and rank into  seperate table

In [112]:
# Assigning the tidy dataset to a variable for future usage
billboard = df

In [113]:
billboard[:2]

,year,artist.inverted,track,time,genre,week,rank,date
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
1,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04

### Multiple types in one table
 
Following up on the Billboard dataset, we’ll now address the repetition problem of the previous table.

Problems:

Multiple observational units (the song and its rank) in a single table.
We’ll first create a songs table which contains the details of each song:

In [114]:
songs_cols = ["year", "artist.inverted", "track", "time", "genre"]

### anotther way to select columns

In [115]:
#selecting colums + remoe duplicates 
songs = billboard[songs_cols].drop_duplicates()
songs[:3]

,year,artist.inverted,track,time,genre
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap
76,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B
152,2000,3 Doors Down,Kryptonite,3:53,Rock

In [116]:
songs = songs.reset_index(drop=True)
songs[:3]

,year,artist.inverted,track,time,genre
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap
1,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B
2,2000,3 Doors Down,Kryptonite,3:53,Rock

In [117]:
songs["song_id"] = songs.index
songs.head(10)

,year,artist.inverted,track,time,genre,song_id
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,0
1,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1
2,2000,3 Doors Down,Kryptonite,3:53,Rock,2
3,2000,3 Doors Down,Loser,4:24,Rock,3
4,2000,504 Boyz,Wobble Wobble,3:35,Rap,4
5,2000,98°,Give Me Just One Night (Una Noche),3:24,Rock,5
6,2000,A*Teens,Dancing Queen,3:44,Pop,6
7,2000,Aaliyah,I Don't Wanna,4:15,Rock,7
8,2000,Aaliyah,Try Again,4:03,Rock,8
9,2000,"Adams, Yolanda",Open My Heart,5:30,Gospel,9

### We’ll then create a ranks table which only contains the song_id, date and the rank.

In [122]:
ranks = pd.merge(billboard, songs, on=["year","artist.inverted", "track", "time", "genre"]).drop_duplicates()
ranks[:10]

,year,artist.inverted,track,time,genre,week,rank,date,song_id
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26,0
1,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04,0
2,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11,0
3,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18,0
4,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25,0
5,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,6,94,2000-04-01,0
6,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,7,99,2000-04-08,0
7,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,8,0,2000-04-15,0
8,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,9,0,2000-04-22,0
9,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,10,0,2000-04-29,0

### Simply select necessary columns

In [126]:
ranks = ranks[["song_id", "date","rank"]].drop_duplicates()
ranks.head(10)

   song_id       date  rank
0        0 2000-02-26    87
1        0 2000-03-04    82
2        0 2000-03-11    72
3        0 2000-03-18    77
4        0 2000-03-25    87
5        0 2000-04-01    94
6        0 2000-04-08    99
7        0 2000-04-15     0
8        0 2000-04-22     0
9        0 2000-04-29     0

### filtering pandas dataframes on dates

#### If it's the index, you should use the .ix or .loc selector.

In [129]:
ranks.ix['2000-02-02':'2000-03-12']

Empty DataFrame
Columns: [song_id, date, rank]
Index: []

### finding data on dates

In [133]:
ranks[(ranks['date'] > '2000-09-01') & (ranks['date'] < '2000-09-09')][:2]

    song_id       date  rank
27        0 2000-09-02     0
76        1 2000-09-02    91